.categories{
    display: flex;
    justify-content: center;
    gap: 3%;
  }
  
  .categories div{
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 40px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
  }
  
  .categories div:hover{
    transform: scale(1.3);
  }
  
  .category{
    border: 1px solid;
  }

  @media (max-width: 615px){
    .categories div{
      margin-top: 16px;
      padding: 5px 10px;
      font-size: 10px;
      gap: 3%;
    }
  }