@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}

img{
  height: 300px;
}

body{
  background-color: rgb(249, 249, 249);
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0px;
}















header{
  position: relative;
}




footer{
  position: absolute;
  bottom: -1;
  width: 100%;
}

footer p{
  margin-top: 16px;
}


main{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2%;
}

@media (max-width: 1016px) {

  main{
      justify-content: center;
  }
}


